{% extends 'layout.html' %}
{% load rbac %}

{% block content %}

    <div class="luffy-container">
        <div class="btn-group" style="margin: 5px 0">

            {#            调用方式#}
            {% if request|has_permission:'customer_add' %}
                <a class="btn btn-default" href="/customer/add/">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> 添加客户
                </a>
            {% endif %}
            {% if request|has_permission:'customer_ import' %}
                <a class="btn btn-default" href="/customer/import/">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> 批量导入
                </a>
            {% endif %}

        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>客户姓名</th>
                <th>年龄</th>
                <th>邮箱</th>
                <th>公司</th>
                {% if request|has_permission:'customer_edit' or request|has_permission:'customer_del' %}
                    <th>选项</th>
                {% endif %}

            </tr>
            </thead>
            <tbody>
            {% for row in data_list %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.age }}</td>
                    <td>{{ row.email }}</td>
                    <td>{{ row.company }}</td>
                    {% if request|has_permission:'customer_edit' or request|has_permission:'customer_del' %}
                        <td>
                            {% if request|has_permission:'customer_edit' %}
                                <a href="/customer/edit/{{ row.id }}/" class="btn-sm btn-primary">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                    编辑
                                </a>
                            {% endif %}
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {% if request|has_permission:'customer_del' %}
                                <a href="/customer/del/{{ row.id }}/" class="btn-sm btn-danger"><i
                                        class="fa fa-trash-o"></i>
                                    删除
                                </a>
                            {% endif %}

                        </td>
                    {% endif %}


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}