{% extends 'layout.html' %}



{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        <div class="alert alert-danger" role="alert" style="margin: 20px;">
            <h3><i class="fa fa-warning"></i>你确定要删除吗，删除后不可恢复</h3>
            <br>
            <div class="form-group">
                <a href="{{ cancel }}" class="btn btn-default">取消</a>
                <input type="submit" value="确认" class="btn btn-danger">
            </div>

        </div>

    </form>
{% endblock %}